/* Card Style 1  */
.deshboard_topCard {
    position: relative;
    overflow: hidden;
}

.deshboard_topCard .card {
    background: #E1F5F8;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 9px 16px 7px;
    margin-bottom: 10px;
}

.deshboard_topCard .card-content {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.deshboard_topCard .card-main-content h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 6px;
}

.deshboard_topCard .card-main-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 12px;
}

.deshboard_topCard .card-main-content a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    display: inline-block;
}

.deshboard_topCard .card-main-content {
    width: calc(100% - 86px);
}

.deshboard_topCard .card-thumb {
    width: 86px;
}

/* Bottom Card */
.deshboard_bottomCard {
    position: relative;
    overflow: hidden;
}

.deshboard_bottomCard .card {
    padding: 14px 10px 12px 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid #000000;
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 171px;
}

.deshboard_bottomCard .card .card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
}

.deshboard_bottomCard .card-main-content {
    width: calc(100% - 140px);
}

.deshboard_bottomCard .card-main-content h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 17px;
}

.deshboard_bottomCard .card-main-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #0000F5;
    margin-bottom: 22px;
}

.deshboard_bottomCard .card-main-content a {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
}

.deshboard_bottomCard .card-thumb {
    width: 140px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.deshboard_bottomCard .card-thumb img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* funfact  */
.counter_item {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    padding: 24px 30px 22px;
    margin-bottom: 20px;
    min-height: 188px;
}

.countfact h3 {
    margin-bottom: 45px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    color: #000000;
}

.counterPrefix {
    margin-right: 6px;
}

.counter_item p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}