* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-color: #f6f6f6;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
}

p {
    margin: 0;
    font-family: "Roboto Slab", serif;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    transition: 0.3s;
}

img {
    max-width: 100%;
    width: auto;
}

#app {
    overflow: hidden;
}

/*=============================================== 
/* ==== NavBar Css ==== 
===============================================*/
.navbar {
    height: 60px;
    left: 264px;
    right: 0px;
    position: absolute;
    z-index: 890;
    background-color: transparent;
    padding: 15px 52px 17px 31px;
    z-index: 30;
}

.theme-white .navbar {
    background-color: #F1F1F1;
}

.sidebar-mini .navbar {
    left: 65px;
}

.navbar-nav {
    flex-direction: row;
    width: 100%;
}

.navbar-nav .navbar_cola_btn {
    position: absolute;
    display: none;
    transform: 0.3s;
}

.sidebar-mini .navbar_cola_btn {
    display: block;
}

.navbar_welcome_msg,
.navbar_time {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.sidebar-mini .navbar_welcome_msg {
    padding-left: 40px;
}

/*=============================================== 
/* ==== Main-sidebar Css ==== 
===============================================*/
.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 264px;
    height: 100%;
    z-index: 880;
    box-sizing: border-box;
    background: #EEFAFC;
    border-right: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar-mini .main-sidebar {
    width: 65px;
    overflow: initial !important;
    position: absolute;
    box-shadow: none;
}

.sidebar-mini .main-content {
    padding-left: 78px;
}

.main-sidebar .sidebar-brand {
    padding: 30px 12px 30px 20px;
    margin-bottom: 30px;
}

.main-sidebar .sidebar-brand img {
    max-width: 100%;
    width: auto;
}

.light-sidebar .mine-logo img {
    height: 35px;
}

.light-sidebar .collapse-btn {
    position: relative;
    top: -3px;
    padding: 0;
}

/* menu Wrap */
.sidebar-menu-wrap {
    padding: 0 9px;
    margin-bottom: 14px;
}

.sidebar-menu-wrap ul li a {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    padding: 15px 35px 15px 55px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    border: 1px solid #000;
}

.sidebar-menu-wrap ul li a>span {
    font-size: inherit;
    color: inherit;
}

.sidebar-menu-wrap ul li a img {
    position: absolute;
    width: 41px;
    height: 41;
    object-fit: cover;
    left: 10px;
    top: 7.5px;
    border-radius: 50%;
}

.sidebar-menu-wrap ul li a i {
    position: absolute;
    top: 20px;
    right: 18px;
    transform: 0.3s;
}

.sidebar-menu-wrap ul li a.active i {
    transform: rotateZ(180deg);
    top: 17px;
}

.sidebar-mini .sidebar-menu-wrap ul li a {
    padding: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.sidebar-mini .sidebar-menu-wrap ul li a img {
    top: 0.8px;
    left: 1.8px;
}

/* Sidebar Ul */
.sidebar-menu {
    padding: 0 9px 0 25px;
}

.main-sidebar .sidebar-menu li.menu-header {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 18px;
    margin-right: 0px;
}

.main-sidebar .sidebar-menu li.menu-header span {
    display: inline-block;
    background: #EEFAFC;
    padding-right: 8px;
    font-family: "Roboto Slab", serif;
}

.main-sidebar .sidebar-menu li.menu-header::after {
    position: absolute;
    content: "";
    top: 58%;
    right: 0;
    background: #000000;
    width: 60%;
    height: 1px;
    z-index: -1;
    transform: translateY(-50%);
}

/* Dropdown  */
.main-sidebar .sidebar-menu li.dropdown:not(:last-child) {
    margin-bottom: 24px;
}

.main-sidebar .sidebar-menu li.dropdown {
    padding: 0 0px 0 17px;
}

.main-sidebar .sidebar-menu li.dropdown a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 2px 3px 2px 32px;
    color: #000000;
    position: relative;
}

.main-sidebar .sidebar-menu li.dropdown>a:not(:last-child) {
    margin-bottom: 4px;
}

.main-sidebar .sidebar-menu li.dropdown>a {
    display: flex;
    justify-content: start;
    align-items: center;
}

.sidebar-style-2 .sidebar-menu li:not(.menu-header) a:hover {
    color: #4429BA !important;
}

.main-sidebar .sidebar-menu li.dropdown a img,
.main-sidebar .sidebar-menu li.dropdown a i,
.main-sidebar .sidebar-menu li.dropdown a svg {
    position: absolute;
    left: 0px;
}


/* Sidebar Menu bottom */
.sidebar-menu-bottom {
    position: relative;
    padding: 30px 40px 40px 44px;
}

.sidebar-menu-bottom li a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 3px 6px 3px 32px;
    color: #000000;
    position: relative;
}

.sidebar-menu-bottom li a img,
.sidebar-menu-bottom li a i,
.sidebar-menu-bottom li a svg {
    position: absolute;
    left: 0px;
}

.sidebar-menu-bottom li:not(:last-child) {
    margin-bottom: 4px;
}

.sidebar-menu-bottom .logoutBtn {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background: #4429BA;
    border: 1px solid #000000;
    border-radius: 7px;
    padding: 0 30px;
    display: block;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-menu-bottom .logoutBtn i {
    display: none;
}

.main-sidebar .sidebar-menu li:not(.menu-header) a {
    color: inherit;
    font-size: inherit;
}

.sidebar-style-2 .sidebar-menu li:not(.menu-header) {
    margin-left: 0;
}

.light-sidebar:not(.sidebar-mini) .navbar .collapse-btn {
    display: none;
}

.light-sidebar:not(.sidebar-mini) .mine-logo {
    display: none;
}

.light-sidebar.sidebar-mini .sidebar-brand .collapse-btn,
.light-sidebar.sidebar-mini .fullLogo {
    display: none;
}


.sidebar-mini .main-sidebar .sidebar-menu>li.menu-header {
    padding: 0;
    font-size: 0;
    height: 2px;
}

.sidebar-mini .main-sidebar .sidebar-menu {
    padding: 0 9px;
}

.sidebar-mini .main-sidebar .sidebar-menu li.dropdown {
    padding: 0;
}

.sidebar-mini .sidebar-menu-wrap ul li a>span,
.sidebar-mini .sidebar-menu-wrap ul li a>i,
.sidebar-mini .main-sidebar .sidebar-menu>li>a span {
    display: none;
}

.sidebar-mini .main-sidebar .sidebar-menu>li>a {
    width: 46px;
    height: 28px;
    margin-left: 0;
}

.sidebar-mini .main-sidebar .sidebar-menu>li>a img,
.sidebar-mini .main-sidebar .sidebar-menu>li>a svg,
.sidebar-mini .main-sidebar .sidebar-menu>li>a i {
    left: 50%;
    transform: translateX(-50%);
}

.sidebar-mini .main-sidebar .sidebar-menu>li.menu-header::after {
    width: 100%;
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom {
    padding: 30px 9px;
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a span {
    display: none;
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom li a {
    width: 46px;
    height: 32px;
    margin-left: 0;
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a img,
.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a svg,
.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a i {
    left: 50%;
    transform: translateX(-50%);
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a.logoutBtn {
    padding: 0 9px;
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a.logoutBtn i {
    display: block;
}

body.sidebar-gone .main-sidebar {
    left: -270px;
}

/*=============================================== 
/* ==== Main-content Css ==== 
===============================================*/
.main-content {
    padding-left: 276px;
    padding-right: 24px;
    padding-top: 60px;
    position: relative;
    background: #F1F1F1;
}

.main-content section.section {
    background: linear-gradient(212.53deg, #FDFFF4 14.72%, #F9FFDE 50.52%, #EEFFF6 55.19%);
    border-radius: 18px;
    padding: 30px;
    min-height: 70vh;
    padding-bottom: 90px;
    border: 1px solid #000000;
}

/*=============================================== 
/* ==== Main-content Css ==== 
===============================================*/
.main-footer {
    padding: 20px 30px 17px 294px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
    position: relative;
    background: #F1F1F1;
}

.sidebar-mini .main-footer {
    padding-left: 94px;
}

/* Breadcrumb  */

.gf_breadcrumb {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 9px;
}

.gf_breadcrumb li.seperator {
    font-size: 39px;
    font-weight: 700;
    position: relative;
    top: 1px;
}

.gf_breadcrumb li a:hover svg path {
    fill: #4429BA;
}

.gf_breadcrumb li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

/* topbar Product & Settings  */
.setting_product {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 14px;
}

.creat_pd_btn {
    position: relative;
    background: #55DEBA;
    border-radius: 9px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    padding: 5px 18px;
    transition: 0.3s;
}

.creat_pd_btn:hover {
    color: #4429BA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}




/* ARchive Product  */
.acitve_productList {
    position: relative;
}

.acitve_productList h4 {
    position: relative;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 15px;
}

.acitve_productList ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.acitve_productList li a {
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.44);
    border-radius: 9px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    min-width: 226px;
    padding: 5px 20px 5px 30px;
    transition: 0.3s;
}

.acitve_productList li a:hover {
    color: #503295;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.20);
}

.acitve_productList li:not(:last-child) {
    margin-bottom: 5px;
}

.business-summery {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    border: 1px solid #000000;
    padding: 23px 19px 0 17px;
}

.summery_heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 43px;
}

.summery_heading h3 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #503295;
}

.more_summery {
    box-sizing: border-box;
    background: #4429BA;
    border: 1px solid #000000;
    border-radius: 14px;
    padding: 2px 14px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    transition: 0.3s;
}

.more_summery:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pd_summary .col-lg-2 {
    width: 238px;
}

.pd_summary .col-lg-10 {
    width: calc(100% - 238px);
}

.pd_summary2 .col-lg-2 {
    width: 238px;
}

.pd_summary2 .col-lg-10 {
    width: calc(100% - 238px);
}


/* Product Row two  */
.product_row_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_row_heading h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.product_row_heading a {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.product_row_heading a:hover {
    color: #4429BA;
}




/*=============================================== 
/* ==== Login page Css ==== 
===============================================*/
.login_fream_wrap {
    position: relative;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    margin-top: 60px;
    padding: 0 12px;
    background: #FFFFFF;
}

.login_fream_wrap::after {
    position: absolute;
    content: "";
    width: 2px;
    height: calc(100% - 40px);
    top: 20px;
    background: #F1F1F1;
    left: 50%;
    transform: translateX(-50%);
}

.bg-login-image {
    background-image: url(../images/login-bg.png);
    background-repeat: no-repeat;
    background-position: bottom 15px center;
    background-attachment: scroll;
    background-size: calc(100% - 40px) auto;
    border-radius: inherit;
}

.login_lContent {
    position: relative;
    padding: 48px 18px;
}

.login_lContent h3 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
}

.login_lContent ul li {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #4429BA;
    position: relative;
    padding-left: 28px;
}

.login_lContent ul li:not(:last-child) {
    margin-bottom: 5px;
}

.login_lContent ul li i {
    position: absolute;
    left: 0;
    top: 4.5px;
}


.login_rContent {
    position: relative;
    padding: 48px 35px
}

.signup_mainContent h2,
.login_rContent h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.signup_mainContent h2 {
    font-size: 22px;
    line-height: 24px;
}

.signUpText {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.user .custom-checkbox {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.user .custom-checkbox input {
    accent-color: #5218E5;
}

.privacy_text a {
    text-decoration: underline;
    color: inherit;
}

.privacy_text a:hover {
    color: #5218E5;
}

/* Sing Up Page Start Css */
.sign-up-section .sign-up-wraper {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 20px 5px;
    background: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.signup-tab .btn {
    cursor: none;
}

.signup-tab label {
    cursor: pointer;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-color: none;
    --bs-nav-tabs-border-radius: none;
    --bs-nav-tabs-link-hover-border-color: none;
    --bs-nav-tabs-link-active-color: none;
    --bs-nav-tabs-link-active-bg: none;
    --bs-nav-tabs-link-active-border-color: none;
    border-bottom: none;
}

.nav-link:focus,
.nav-link:hover {
    color: #000 !important;
}

.signup-tab .nav-link {
    padding: 0;
    margin-left: 13px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav {
    --bs-nav-link-color: none;
}

.nav:hover {
    color: none !important;
}

.nav>.font20px {
    margin-right: 12px;
}

input[type="radio"] {
    height: 22px;
    width: 22px;
    accent-color: #5218E5;
}

.tab-content {
    padding-top: 12px;
}

.nice-select {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 8px;
    box-shadow: unset !important;
    outline: unset !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.custom-btn-prymary {
    background: #3854AD;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.38px;
    text-align: center;
    padding: 8px 20px;
    width: 100%;
}

.custom-btn-prymary:hover {
    background: #503295;
    color: #FFFFFF;
}

.otp-popup-wrap {
    text-align: center;
}

.otp-popup-wrap .font20px {
    text-align: left !important;
}

.otp-popup-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    background: #7451CD;
    padding: 6px 15px;
    color: #FFF;
    border-radius: 8px;
    border: 1px solid #000;
}

/* Otp */

.otc {
    position: relative;
    width: 320px;
    margin: 0 auto;
}

.otc fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.otc fieldset div {
    display: flex;
    align-items: center;
    justify-content: center
}

.otc legend {
    margin: 0 auto 1em;
    color: #fff;
    font-weight: bold;
}

input[type="number"] {
    width: 50px;
    height: 40px;
    line-height: 1;
    margin: .1em;
    font-size: 26px;
    text-align: center;
    appearance: textfield;
    -webkit-appearance: textfield;
    border: 0;
    color: #000;
    border-radius: 6px;
    background: #D9D9D9;
    font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 2 groups of 3 items */
input[type="number"]:nth-child(n+4) {
    order: 2;
}

.sh_otp_input .sh_account_id {
    display: flex;
    column-gap: 5px;
    max-width: 340px;
    margin: 0 auto;
}

.sh_otp_input .sh_account_id input {
    width: 100%;
    text-align: center;
}

.sh_otp_input .form-group input {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    border: 1px solid transparent;
    background: #FEF3DF;
    color: #000;
    border-radius: 10px;
    padding: 4px 8px;
}

.sh_otp_input input:focus {
    box-shadow: none;
    outline: none;
    border-color: #8bbafe;
    background-color: #FEF3DF;
}