* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-color: #f6f6f6;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
}

p {
    margin: 0;
    font-family: "Roboto Slab", serif;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    transition: 0.3s;
}

#app {
    overflow: hidden;
}

/*=============================================== 
/* ==== NavBar Css ==== 
===============================================*/
.navbar {
    height: 60px;
    left: 264px;
    right: 0px;
    position: absolute;
    z-index: 890;
    background-color: transparent;
    padding: 15px 52px 17px 31px;
    z-index: 30;
}

.theme-white .navbar {
    background-color: #F1F1F1;
}

.sidebar-mini .navbar {
    left: 65px;
}

.navbar-nav {
    flex-direction: row;
    width: 100%;
}

.navbar-nav .navbar_cola_btn {
    position: absolute;
    display: none;
    transform: 0.3s;
}

.sidebar-mini .navbar_cola_btn {
    display: block;
}

.navbar_welcome_msg,
.navbar_time {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.sidebar-mini .navbar_welcome_msg {
    padding-left: 40px;
}

/*=============================================== 
/* ==== Main-sidebar Css ==== 
===============================================*/
.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 264px;
    height: 100%;
    z-index: 880;
    box-sizing: border-box;
    background: #EEFAFC;
    border-right: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar-mini .main-sidebar {
    width: 65px;
    overflow: initial !important;
    position: absolute;
    box-shadow: none;
}

.sidebar-mini .main-content {
    padding-left: 78px;
}

.main-sidebar .sidebar-brand {
    padding: 30px 12px 30px 20px;
    margin-bottom: 30px;
}

.main-sidebar .sidebar-brand img {
    max-width: 100%;
    width: auto;
}

.light-sidebar .mine-logo img {
    height: 35px;
}

.light-sidebar .collapse-btn {
    position: relative;
    top: -3px;
    padding: 0;
}

/* menu Wrap */
.sidebar-menu-wrap {
    padding: 0 9px;
    margin-bottom: 14px;
}

.sidebar-menu-wrap ul li a {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    padding: 15px 35px 15px 55px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    border: 1px solid #000;
}

.sidebar-menu-wrap ul li a>span {
    font-size: inherit;
    color: inherit;
}

.sidebar-menu-wrap ul li a img {
    position: absolute;
    width: 41px;
    height: 41;
    object-fit: cover;
    left: 10px;
    top: 7.5px;
    border-radius: 50%;
}

.sidebar-menu-wrap ul li a i {
    position: absolute;
    top: 20px;
    right: 18px;
    transform: 0.3s;
}

.sidebar-menu-wrap ul li a.active i {
    transform: rotateZ(180deg);
    top: 17px;
}

.sidebar-mini .sidebar-menu-wrap ul li a {
    padding: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.sidebar-mini .sidebar-menu-wrap ul li a img {
    top: 0.8px;
    left: 1.8px;
}

/* Sidebar Ul */
.sidebar-menu {
    padding: 0 9px 0 25px;
}

.main-sidebar .sidebar-menu li.menu-header {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 18px;
    margin-right: 0px;
}

.main-sidebar .sidebar-menu li.menu-header span {
    display: inline-block;
    background: #EEFAFC;
    padding-right: 8px;
    font-family: "Roboto Slab", serif;
}

.main-sidebar .sidebar-menu li.menu-header::after {
    position: absolute;
    content: "";
    top: 58%;
    right: 0;
    background: #000000;
    width: 60%;
    height: 1px;
    z-index: -1;
    transform: translateY(-50%);
}

/* Dropdown  */
.main-sidebar .sidebar-menu li.dropdown:not(:last-child) {
    margin-bottom: 24px;
}

.main-sidebar .sidebar-menu li.dropdown {
    padding: 0 0px 0 17px;
}

.main-sidebar .sidebar-menu li.dropdown a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 2px 3px 2px 32px;
    color: #000000;
    position: relative;
}

.main-sidebar .sidebar-menu li.dropdown>a:not(:last-child) {
    margin-bottom: 4px;
}

.main-sidebar .sidebar-menu li.dropdown>a {
    display: flex;
    justify-content: start;
    align-items: center;
}

.sidebar-style-2 .sidebar-menu li:not(.menu-header) a:hover{
    color: #4429BA !important;
}

.main-sidebar .sidebar-menu li.dropdown a img,
.main-sidebar .sidebar-menu li.dropdown a i,
.main-sidebar .sidebar-menu li.dropdown a svg {
    position: absolute;
    left: 0px;
}


/* Sidebar Menu bottom */
.sidebar-menu-bottom {
    position: relative;
    padding: 30px 40px 40px 44px;
}

.sidebar-menu-bottom li a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 3px 6px 3px 32px;
    color: #000000;
    position: relative;
}

.sidebar-menu-bottom li a img,
.sidebar-menu-bottom li a i,
.sidebar-menu-bottom li a svg {
    position: absolute;
    left: 0px;
}

.sidebar-menu-bottom li:not(:last-child) {
    margin-bottom: 4px;
}

.sidebar-menu-bottom .logoutBtn {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background: #4429BA;
    border: 1px solid #000000;
    border-radius: 7px;
    padding: 0 30px;
    display: block;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-menu-bottom .logoutBtn i {
    display: none;
}

.main-sidebar .sidebar-menu li:not(.menu-header) a {
    color: inherit;
    font-size: inherit;
}

.sidebar-style-2 .sidebar-menu li:not(.menu-header) {
    margin-left: 0;
}

.light-sidebar:not(.sidebar-mini) .navbar .collapse-btn {
    display: none;
}

.light-sidebar:not(.sidebar-mini) .mine-logo {
    display: none;
}

.light-sidebar.sidebar-mini .sidebar-brand .collapse-btn,
.light-sidebar.sidebar-mini .fullLogo {
    display: none;
}


.sidebar-mini .main-sidebar .sidebar-menu>li.menu-header {
    padding: 0;
    font-size: 0;
    height: 2px;
}

.sidebar-mini .main-sidebar .sidebar-menu {
    padding: 0 9px;
}

.sidebar-mini .main-sidebar .sidebar-menu li.dropdown {
    padding: 0;
}

.sidebar-mini .sidebar-menu-wrap ul li a>span,
.sidebar-mini .sidebar-menu-wrap ul li a>i,
.sidebar-mini .main-sidebar .sidebar-menu>li>a span {
    display: none;
}

.sidebar-mini .main-sidebar .sidebar-menu>li>a {
    width: 46px;
    height: 28px;
}

.sidebar-mini .main-sidebar .sidebar-menu>li>a img,
.sidebar-mini .main-sidebar .sidebar-menu>li>a svg,
.sidebar-mini .main-sidebar .sidebar-menu>li>a i {
    left: 50%;
    transform: translateX(-50%);
}

.sidebar-mini .main-sidebar .sidebar-menu>li.menu-header::after {
    width: 100%;
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom {
    padding: 30px 9px;
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a span {
    display: none;
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom li a {
    width: 46px;
    height: 32px;
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a img,
.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a svg,
.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a i {
    left: 50%;
    transform: translateX(-50%);
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a.logoutBtn {
    padding: 0 9px;
}

.sidebar-mini .main-sidebar .sidebar-menu-bottom li>a.logoutBtn i {
    display: block;
}

body.sidebar-gone .main-sidebar {
    left: -270px;
}

/*=============================================== 
/* ==== Main-content Css ==== 
===============================================*/
.main-content {
    padding-left: 276px;
    padding-right: 24px;
    padding-top: 60px;
    position: relative;
    background: #F1F1F1;
}

.main-content section.section {
    background: linear-gradient(212.53deg, #FDFFF4 14.72%, #F9FFDE 50.52%, #EEFFF6 55.19%);
    border-radius: 18px;
    padding: 30px;
    min-height: 70vh;
    padding-bottom: 90px;
    border:1px solid #000000;
}

/*=============================================== 
/* ==== Main-content Css ==== 
===============================================*/
.main-footer {
    padding: 20px 30px 17px 294px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
    position: relative;
    background: #F1F1F1;
}

.sidebar-mini .main-footer {
    padding-left: 94px;
}

/* Breadcrumb  */

.gf_breadcrumb {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 9px;
}

.gf_breadcrumb li.seperator {
    font-size: 39px;
    font-weight: 700;
    position: relative;
    top: 1px;
}

.gf_breadcrumb li a:hover svg path {
    fill: #4429BA;
}

.gf_breadcrumb li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

/* topbar Product & Settings  */
.setting_product {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 14px;
}

.creat_pd_btn {
    position: relative;
    background: #55DEBA;
    border-radius: 9px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    padding: 5px 18px;
    transition: 0.3s;
}

.creat_pd_btn:hover {
    color: #4429BA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}




/* ARchive Product  */
.acitve_productList {
    position: relative;
}

.acitve_productList h4 {
    position: relative;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 15px;
}

.acitve_productList ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.acitve_productList li a {
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.44);
    border-radius: 9px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    min-width: 226px;
    padding: 5px 20px 5px 30px;
    transition: 0.3s;
}
.acitve_productList li a:hover{
    color: #503295;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.20);
}

.acitve_productList li:not(:last-child) {
    margin-bottom: 5px;
}

.business-summery {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    border: 1px solid #000000;
    padding: 23px 19px 0 17px;
}

.summery_heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 43px;
}

.summery_heading h3 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #503295;
}

.more_summery {
    box-sizing: border-box;
    background: #4429BA;
    border: 1px solid #000000;
    border-radius: 14px;
    padding: 2px 14px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    transition: 0.3s;
}
.more_summery:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pd_summary .col-lg-2 {
    width: 238px;
}

.pd_summary .col-lg-10 {
    width: calc(100% - 238px);
}

.pd_summary2 .col-lg-2 {
    width: 238px;
}

.pd_summary2 .col-lg-10 {
    width: calc(100% - 238px);
}


/* Product Row two  */
.product_row_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_row_heading h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.product_row_heading a {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.product_row_heading a:hover {
    color: #4429BA;
}